   body{
        background-color:mistyrose;
    }
    .conteudo{
        font-size: 35px;
        background-color:white;
        max-width: 100%;
        max-width: 100%;
        width: 800px;
        height: 700px;
        padding: 50px 600px 50px 50px;
        margin: auto;
        border-radius: 20px;
        display: flex;
        border:solid 1px black;
        justify-content: space-between; 
    }

    .form{
        background-color:whitesmoke;
        margin-bottom: 200px;
        padding: 40px;
        border-radius: 20px;
    }

    .header-req{
        border-color:white;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .header-req img{
        border-radius: 10px;
        align-items: initial;
        width: 200px;
    }

    .header-req h1{
        padding-right: 10px;
        font-size: 30px;
    }

    .req {
        padding-bottom: 5px;
        padding-left: -20px;
    }
    .req label{
        display: block;
    }
    .comandos{
        margin: auto;
        padding-top: 20px;
    }
    .comandos button{
        font-size: 30px;
        border-radius: 1px;
    }
    .comandos button:hover{
        opacity: 80%;
    }
    .error{
        font-size: 20px;
        padding: 0px 0px 0px 0px;
        background-color: red;
        align-items:center;
        border-radius: 4px;
        color: white;
    }
    .img img{
        border-radius: 20px;
        padding-left: 40px;
        height: 700px;
        width: 890px;
    } 

    .entrar{
        margin-left: 30px;
        width:100px;
    }
    .entrar a{
        font-size:20px;
        text-decoration: none;
        color:black;
    }

    .select{
        margin-bottom: 30px;
    }
    .select label{
        font-size:20px;
    }