{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ola,{{cliente.nome}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/cliente.css' %}">
</head>
<body>
    <div class="header">
            <img class="logo" src="{% static 'assets/imgs/logo.png' %}" alt="My image">
            <h1 class="user">Ola,{{cliente.nome}}</h1>
            <h1 class="title">Hotel de cachorro</h1>
    </div>
    <div class="nav">
            <ul class="nav-1">
                <li class='cadastro'><a href="/pet/register/">Cadastrar novo pet</a></li>
                <li class='logout'><a href="/logout/">Encerrar sessão</a></li>
                <li class='monitor'><a href="/monitor-escolhido">Monitor Escolhido</a></li>
            </ul>
    </div>
    <div class="conteudo">
        <div class="pet">
            <h3>Nome:{{cliente.nome}}</h3>
            <h3>CPF:{{cliente.CPF}}</h3>
            <h3>E-mail:{{cliente.email}}</h3>
            <h3>Telefone:{{cliente.tel}}</h3>
            <h3>Pets cadastrados:{{pet.count}}</h3>
            {%if cliente.monitor_escolhido%}
                <h3>Monitor escolhido:{{cliente.monitor_escolhido}}</h3>
            {%else%}
                <h3>Sem monitor designado para cuidar de seus pets</h3>
            {%endif%}
            <div class="botoes">
                <button class=""><a href="/">Retornar a lista</a></button>
                <button class=""><a href="/novo-cliente/?id={{cliente.id}}">Alterar campos</a></button>
                <button id="myBtn">Excluir</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <p class="change">Tem certeza que deseja excluir sua conta?</p>
                      <a class="redirect" href="/minha-pagina/delete/{{cliente.id}}"><button class="delete">Deletar</button></a>
                    </div>
                  </div>
            </div>
        </div>
       
    </div>
    <div class="footer">
        <footer>
            <h2>Ciência da Computação - 2020</h2>
        </footer>
    </div>
    <script src="{%static 'assets/js/cliente.js'%}"></script>
</body>
</html>