{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/registro-cliente.css' %}">
    <title>
        {%if cliente%}
            Olá, {{cliente.nome}}
        {%else%}
            Novo cliente
        {%endif%}
    </title>
</head>
<body>
    <div class="header">
            <img class="logo" src="{% static 'assets/imgs/logo.png' %}" alt="My image">
            <h1 class="user">
                {%if cliente%}
                    Olá, {{cliente.nome}}
                {%else%}
                    Novo cliente
                {%endif%}
            </h1>
            <h1 class="title">Hotel de cachorro</h1>
    </div>
    <div class="nav">
        {%if cliente%}
            <ul class="nav-1">
                <li class='logout'><a href="/minha-pagina/{{cliente.id}}">Retornar a sua pagina</a></li>
            </ul>
        {%else%}
            <ul class="nav-1">
                <li class='logout'><a href="/login/">Retornar ao login</a></li>
            </ul>
        {%endif%}
    </div>
    <div class="conteudo">
        <div class="pet">
            <h1>
                {%if cliente%}
                    Mudar dados existentes
                {%else%}
                    Cadastrar novo cliente
                {%endif%}
            </h1>
            <div class="formulario">
            <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="cliente-id" value="{{cliente.id}}" hidden>
                <div class="campo">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" value="{{cliente.user.username}}">
                </div>
                <div class="campo">
                    <label for="password">Senha</label>
                    <input type="password" name="password" value="{{cliente.user.password}}">
                </div>
                <div class="campo">
                    <label for="Cpassword">Confirme sua senha</label>
                    <input type="password" name="Cpassword">
                </div>
                <div class="campo">
                    <label for="_nome">Nome</label>
                    <input type="text" name="_nome" value="{{cliente.nome}}">
                </div>
                <div class="campo">
                    <label for="_CPF">CPF</label>
                    <input type="text" name="_CPF"value="{{cliente.CPF}}">
                </div>
                <div class="campo">
                    <label for="_email">E-mail</label>
                    <input type="email" name="_email" value="{{cliente.email}}"> 
                </div>
                <div class="campo">
                    <label for="_tel">Telefone</label>
                    <input type="text" name="_tel" value="{{cliente.tel}}">
                </div>
                {%for message in messages%}
                <div class="erro">
                    <strong>Erro:</strong>{{message}}
                </div>
                {%endfor%}
                <button class="cadastro" type="submit">
                    {%if cliente%}
                        Alterar
                    {%else%}
                        Cadastrar
                    {%endif%}
                </button>
            </div>
            </form>
        </div>
       </div>
    <div class="footer">
        <footer>
            <h2>Ciência da Computação - 2020</h2>
        </footer>
    </div>
</body>
</html>