{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/todos-pets.css' %}">
    <title>Ola,{{monitor.nome}}</title>
</head>
<body>
    <div class="header">
            <img class="logo" src="{% static 'assets/imgs/logo.png' %}" alt="My image">
            <h1 class="user">Ola,{{monitor.nome}}</h1>
            <h1 class="title">Hotel de cachorro</h1>
    </div>
    <div class="nav">
            <ul class="nav-1">
                <li class='cadastro'><a href="/monitor/">Voltar a lista</a></li>
                <li class='logout'><a href="/logout/">Encerrar sessão</a></li>
            </ul>
    </div>
    <div class="conteudo">
        {%if pet%}
            {%for x in pet %}
            <div class="pet">
                <h3>Nome:{{x.nome_pet}}</h3>
                <h3>Tipo:{{x.tipo}}</h3>
                <h3>Data de entrada:{{x.data_entrada}}</h3>
                <h3>Dono:{{x.dono.nome}}</h3>
                <h3>Monitor escolhido:{{x.dono.monitor_escolhido.nome}}</h3>
            </div>
            {%endfor%}
        {%else%}
            <h1>Nenhuma pet cadastrado</h1>
        {%endif%}
       </div>
    <div class="footer">
        <footer>
            <h2>Ciência da Computação - 2020</h2>
        </footer>
    </div>
</body>
</html>